<div>
<app-nav-menu></app-nav-menu>
    <!--<div class="container"> -->
        <div style="padding:15px!important">
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="bg-dark fixed-bottom" style="color: white;background-color: #212529;">
    &nbsp;Copyright © www.e-planner.co.in(2020)
    <div class="pull-right">
        Have any queries? 
        <a href="#" style="color: white;"
        [routerLink]="['/contact-us/contact-details']">Contact Us</a>&nbsp;&nbsp;
    </div>
</footer>
