<div class="jumbotron">

  <div class="row">        
    <div class="col-md-3 col-xs-6">
          <img class="card-img-top" src="assets/images/planning_time.jpg"/>
      </div>
      <div class="col-md-9 col-xs-6">
      <h3 class="display-6">Bringing digital experience to shop floor</h3>
      <p class="lead">
          E-Planner, software platform to enhance your shop floor productivity to its true potential. 
          Manage your pipeline and job production in hand right from your desk or while on go. 
          Partner with us to take advantage of digitization to transform your production scheduling 
          to next level...
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
 </div>
</div>
<div class="card-columns">
  <div class="card bg-light">
    <div class="card" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Schedule - Gantt Chart</h4>
        <p class="card-text">About Schedule Gantt Chart</p>
        <a href="#" class="btn btn-primary">More...</a>
      </div>
      <img class="card-img-top" src="assets/images/gantt_chart.jpg" alt="Card image">
    </div>
  </div>
  <div class="card bg-light">
    <div class="card" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Resource - Loading</h4>
        <p class="card-text">About Resource Loading</p>
        <a href="#" class="btn btn-primary">More...</a>
      </div>
      <img class="card-img-top" src="assets/images/resource_loading.jpg" alt="Card image">
    </div>
  </div>
  <div class="card bg-light">
    <div class="card" style="width:100%">
      
      <div class="card-body">
        <h4 class="card-title">Operator View</h4>
        <p class="card-text">About Operator View</p>
        <a href="#" class="btn btn-primary">More...</a>
      </div>
      <img class="card-img-top" src="assets/images/operator_view.jpg" alt="Card image">
    </div>
  </div>
  
</div>