<div class="row my-3">
  <div class="col">
    <h4>Dashboard</h4>
  </div>
</div>
<div class="row my-2">
  <div class="col-md-6 py-1">
    <div class="card">
      <div class="card-header">Priority and Efforts</div>
      <div class="card-body">
        <canvas id="chLine"></canvas>
        <a href="#" class="card-link float-right">More...</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 py-1">
    <div class="card">
      <div class="card-header">Machine Loading</div>
      <div class="card-body">
        <canvas id="chBar"></canvas>
        <a href="#" class="card-link float-right">More...</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row py-2">
  <div class="col-md-4 py-1">
    <div class="card">
      <div class="card-header">Workorders Count</div>
      <div class="card-body">
        <canvas id="chDonut1"></canvas>
        <a href="#" class="card-link float-right">More...</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 py-1">
    <div class="card">
      <div class="card-header">Workorders Efforts</div>
      <div class="card-body">
        <canvas id="chDonut2"></canvas>
        <a href="#" class="card-link float-right">More...</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 py-1">
    <div class="card">
      <div class="card-header">Schedule Adherence</div>
      <div class="card-body">
        <canvas id="chDonut3"></canvas>
        <a href="#" class="card-link float-right">More...</a>
      </div>
    </div>
  </div>
</div> -->

