<br>
<form>
  <fieldset>
    <legend>Update Task
    </legend>

    <div class="form-group">
      <!-- <fieldset>
      <button type="submit" class="btn btn-primary btn-sm" (click)="autoSchedule($event)">
        <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;AutoResourceLoading</button>
    </fieldset> -->


    <div class="alert-danger" *ngIf="nodata">
          Please contact admin to upload schedule
      </div>
    

      <!-- <fieldset >
 >
    </fieldset> -->

           <div *ngIf="!nodata">
      <label for="exampleSelect1">Machine Group:</label>
      <!-- <select class="form-control" id="machinegroupSelect" [(ngModel)]="selectedGroup" (change)= "changeMachineGroup($event.target.value)">
        <option>--Choose Machine group--</option>
        <option *ngFor="let depname of deparray">{{depname.label}}</option>
      </select> -->


      <select class="form-control" name="depname" [(ngModel)]="depname"
        (change)="changeMachineGroup($event.target.value)">
        <option>--Choose Machine group---</option>
        <option *ngFor="let depname of deparray">{{depname.label}}</option>
      </select>
    </div>

    </div>


    <div class="form-group" *ngIf="depname != null">
      <label for="exampleSelect1">Machine</label>
      <select class="form-control" name="selectedMachine" [(ngModel)]="selectedMachine"
        (change)="changeMachine($event.target.value)"
        
         >

        <option>-Choose Machine ---</option>
        <option *ngFor="let selectedMachine of machines">{{selectedMachine.machineName}}</option>
      </select>
    </div>


    <ul class="nav nav-tabs" *ngIf="selectedMachine != null">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#machineStatus">Machine Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#scheduledTask" (click)="callTasks($event)">Scheduled Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#completedTask" (click)="callTasks($event)">Completed Tasks</a>
      </li>
    </ul>
    <div id="tabs" class="tab-content"><br>
      <div class="tab-pane fade show active" id="machineStatus">
        <br>
        <form>
          <fieldset>
            <div class="form-group" *ngIf="flag">
              <label for="exampleSelect1">Current Status: {{machine.machineStatus}}</label>

            </div>
            <div class="form-group" *ngIf="flag">
              <label for="exampleSelect1">Change Status:</label>
              <select class="form-control" name="machineStatus" ngModel [value]="machineStatus"
                (change)="changeMachineStatus($event.target.value)">
                <option>--Change Status --</option>
                <option *ngFor="let machineStatus of machineDropDownHolder">{{machineStatus}}</option>
              </select>
            </div>
            <div class="form-group" *ngIf="currentMachineStatus == 'Hold'">
              <label for="exampleSelect1">Reason:</label>
              <select class="form-control" id="exampleSelect1">
                <option>Repairs</option>
                <option>Break Down</option>
              </select>
            </div>
            <!-- <div class="form-group row">
              <label for="staticEmail" class="col-sm-2 col-form-label">Comments:</label>
              <div class="col-sm-10">
                <input type="text" readonly="" 
                class="form-control-plaintext" id="staticEmail" value="Power Failure at Machine">
              </div>
            </div> -->


            <div class="form-group" *ngIf="currentMachineStatus == 'Hold'" >
              <label for="exampleTextarea">Comments : </label>
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>


            <button type="submit" class="btn btn-primary btn-sm" (click)="submitGroupData($event)">
              <i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Save</button>
          </fieldset>
        </form>
      </div>
      <div class="tab-pane fade" id="scheduledTask">

        <div class="row">
          <div class="col-md-8">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Task Name</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let selectedTask of alignedTask; " class="table" (click)="selectTask($event, selectedTask)" 
                  [ngClass] = "{'highlight' : selectedTask.id == selectedId}">
                  <th scope="row" *ngIf="selectedTask.taskText != null && selectedTask.id != null">{{selectedTask.id}}</th>
                  <td>{{selectedTask.taskText}}</td>
                  <td>{{selectedTask.status}}</td>
                </tr>
              </tbody>
            </table>
          </div> &nbsp;
          <div class="col-md-3" *ngIf="selectedTask != null">
            <div class="card border-primary mb-3">
              <div class="card-header">Project : X1</div>
              <div class="card-body">
                <h4 class="card-title">{{selectedTask.taskText}}</h4>
                <p class="card-text">
                  Estimated Time :{{selectedTask.duration}} days.<br/>
                  Ref Doc : <a href="#">link</a><br/>
                  Actual Start date:{{selectedTask.start_date}}<br/>
                  start time : {{selectedTask.startDateTime}}<br/>
                  completed hours : {{selectedTask.completedHours}}<br/>
                  Planner : Pradeep S.
                </p>
              </div>
            </div>
          </div>  
        </div>
        <div class="form-group">
          <label for="comments">Comments : </label>
          <textarea class="form-control" id="comments" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-sm" (click)="startTask($event,selectedTask)"><i class="fa fa-play" ></i>&nbsp;Start</button>&nbsp;
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="holdTask($event,selectedTask)"><i
            class="fa fa-pause"></i>&nbsp;Pause</button>&nbsp;
        <button type="button" class="btn btn-success btn-sm" (click)="finishTask($event,selectedTask)"><i class="fa fa-check"></i>&nbsp;Finish</button>
      </div>
      <div class="tab-pane fade" id="completedTask">
        <br />
        <div class="input-group"> <span class="input-group-addon">Filter :&nbsp;</span>
          <input id="filter" type="text" class="form-control" placeholder="Type Filter...">
        </div><br />
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Text</th>
              <th scope="col">Type</th>
              <th scope="col">Start Date</th>
              <th scope="col">Progress</th>
            </tr>
          </thead>
          <tr *ngFor="let finish of finishedTask">
            <th scope="row">{{finish.text}}</th>
            <td>{{finish.type}}</td>
            <td>{{finish.start_date}}</td>
            <td>{{finish.duration}} %</td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!--<table class="table">
  <tr>
    <td style="width: 60%">
      <div class="form-group">
        <label for="exampleSelect1">Select Resource:</label>
        <select class="form-control" id="exampleSelect1">
          <option *ngFor="let resource of resources" [value]="resource.resourceId">{{resource.resourceName}}</option>
        </select>
      </div>  
    </td>
    <td rowspan="4">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Task Details
            <span class="float-right">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" style="font-size: small;"for="customSwitch2">Hold the Job</label>
              </div>
            </span>
          </h5>
          <h6 class="card-subtitle text-muted">Status : Planned</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Planned Start : 06-Jul-2020</li>
          <li class="list-group-item">Estimated Duration : 56 hr</li>
          <li class="list-group-item">Status : Planned</li>
          <li class="list-group-item">Time Spent : 0 hrs</li>
        </ul>
        <!--<div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>
      
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <label for="exampleSelect1">Select Job/Task:</label>
        <select class="form-control" id="exampleSelect1">
          <option *ngFor="let task of tasks" [value]="task.id">{{task.text}}</option>
        </select>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <label for="exampleSelect1">Select Machine Status:</label>
      <select class="form-control" id="exampleSelect1">
        <option *ngFor="let mcStatus of machineStatuses" [value]="mcStatus.statusId">{{mcStatus.statusName}}</option>
      </select>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="form-group">
        <label for="exampleTextarea">Notes : </label>
      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </td>
  </tr>
  
</table>-->
  </fieldset>
</form>